<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="app.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.3/ace.js"></script>
    <title>Process state demo</title>
</head>
<body>
    <div id="app" v-cloak>
        <div class="bg-light py-3 fixed-top">
            <div class="form-group container mb-0">
                <div class="input-group">
                    <select class="custom-select" v-model="selectedProgram"
                            :disabled="programs.length === 0">
                        <option v-for="(n, i) in programs.length" :value="programs.key(i)">
                            {{ programs.key(i) }}
                        </option>
                    </select>
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle d-sm-none" data-toggle="dropdown">
                            <span class="oi oi-cog"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <button type="button" class="dropdown-item" :disabled="!selectedProgram" @click="createProcess()">
                                <span class="oi oi-media-play text-success icon"></span>Run
                            </button>
                            <button type="button" class="dropdown-item" @click="openNew()"
                                    data-toggle="modal" data-target="#editor-modal">
                                <span class="oi oi-plus icon"></span>Add
                            </button>
                            <button type="button" class="dropdown-item" :disabled="!selectedProgram" @click="openEdit()"
                                    data-toggle="modal" data-target="#editor-modal">
                                <span class="oi oi-pencil icon"></span>Edit
                            </button>
                            <button type="button" class="dropdown-item" :disabled="!selectedProgram" @click="deleteProgram()">
                                <span class="oi oi-trash text-danger icon"></span>Delete
                            </button>
                        </div>

                        <button type="button" class="btn btn-outline-success d-none d-sm-inline-block" title="Run"
                                :disabled="!selectedProgram" @click="createProcess()">
                            <span class="oi oi-media-play"></span>
                        </button>
                        <button type="button" class="btn btn-outline-secondary d-none d-sm-inline-block" title="Add"
                                @click="openNew()" data-toggle="modal" data-target="#editor-modal">
                            <span class="oi oi-plus"></span>
                        </button>
                        <button type="button" class="btn btn-outline-secondary d-none d-sm-inline-block" title="Edit"
                                :disabled="!selectedProgram" @click="openEdit()" data-toggle="modal" data-target="#editor-modal">
                            <span class="oi oi-pencil"></span>
                        </button>
                        <button type="button" class="btn btn-outline-danger d-none d-sm-inline-block" title="Delete"
                                :disabled="!selectedProgram" @click="deleteProgram()">
                            <span class="oi oi-trash"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" style="margin-top: 70px; margin-bottom: 130px">
            <div class="row p-2">
                <div class="p-2 col-sm-6 col-md-4 col-lg-3" v-for="(process, pid) in computer.processes">
                    <div class="card">
                        <div class="card-header" :class="{'text-white': process.state === State.READY || process.state === State.RUNNING,
                                                          'bg-warning': process.state === State.READY,
                                                          'bg-success': process.state === State.RUNNING}">
                            <div class="d-flex">
                                <p class="mb-0 mr-auto"><strong>PID {{ pid }}</strong></p>
                                <p class="mb-0">PPID {{ process.ppid }}</p>
                            </div>
                        </div>
                        <div class="card-body">
                            <h3 class="text-center">{{ process.state }}</h3>
                            <p class="text-center align-text-bottom"><code>{{ getInstruction(process) }}</code></p>
                            <div class="btn-group w-100 mb-4 state-btn-group">
                                <button type="button" class="btn" title="New" disabled
                                        :class="process.state === State.NEW ? 'btn-primary' : 'btn-outline-secondary'">
                                    N
                                </button>
                                <button type="button" class="btn" title="Ready"
                                        :class="process.state === State.READY ? 'btn-primary' : 'btn-outline-secondary'"
                                        :disabled="readyDisabled(process)"
                                        @click="computer.toReady(process.pid)">
                                    Re
                                </button>
                                <button type="button" class="btn" title="Running"
                                        :class="process.state === State.RUNNING ? 'btn-primary' : 'btn-outline-secondary'"
                                        :disabled="runningDisabled(process)"
                                        @click="toRunning(process)">
                                    Ru
                                </button>
                                <button type="button" class="btn" title="Waiting"
                                        :class="process.state === State.WAITING ? 'btn-primary' : 'btn-outline-secondary'"
                                        :disabled="process.state !== State.RUNNING"
                                        @click="computer.toWaiting(process.pid)">
                                    W
                                </button>
                                <button type="button" class="btn" title="Terminated"
                                        :class="process.state === State.TERMINATED ? 'btn-primary' : 'btn-outline-secondary'"
                                        :disabled="process.state !== State.RUNNING"
                                        @click="computer.toTerminated(process.pid)">
                                    T
                                </button>
                            </div>
                            <table class="table table-sm mb-0">
                                <tr v-for="(value, register) in process.registers">
                                    <th scope="row">{{ register }}</th>
                                    <td class="text-right text-monospace">{{ register === "eflags" ? getFlags(process) : toHexString(value) }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-light py-2 fixed-bottom">
            <div class="container">
                <div class="row">
                    <label class="col-form-label col-4 col-sm-3">CPUs:</label>
                    <div class="d-flex flex-nowrap align-items-center col-8 col-sm-9">
                        <button type="button" class="btn btn-outline-secondary btn-control"
                                @click="computer.removeCpu()"
                                :disabled="Object.keys(computer.cpus).length === 0">-</button>
                        <label class="mb-0 mx-3">{{ Object.keys(computer.cpus).length }}</label>
                        <button type="button" class="btn btn-outline-secondary rounded-right btn-control"
                                @click="computer.addCpu()">+</button>

                        <div class="btn-group ml-auto">
                            <button type="button" class="btn btn-outline-secondary" title="Step"
                                    @click="computer.doCycle()">
                                <span class="oi oi-media-step-forward"></span>
                            </button>
                            <button type="button" class="btn btn-outline-danger" title="Restart"
                                    @click="computer.restart()">
                                <span class="oi oi-reload"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row flex-nowrap align-items-center">
                    <label class="col-form-label col-4 col-sm-3" for="speed">Speed:</label>
                    <label class="col-form-label col-2 col-sm-1">{{ speed ? Math.pow(2, speed - 1) : 0 }}</label>
                    <div class="d-flex col-6 col-sm-8">
                        <input id="speed" type="range" class="custom-range" min="0" max="9"
                               v-model.number="speed">
                    </div>
                </div>
                <div class="row flex-nowrap align-items-center">
                    <label class="col-form-label col-4 col-sm-3" for="quantum">Quantum:</label>
                    <label class="col-form-label col-2 col-sm-1">{{ computer.scheduler.quantum }}</label>
                    <div class="d-flex col-6 col-sm-8">
                        <input id="quantum" type="range" class="custom-range" min="0" max="10"
                               v-model.number="computer.scheduler.quantum">
                    </div>
                </div>
            </div>
        </div>

        <div id="editor-modal" class="modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Program editor</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" id="name" class="form-control" v-model.trim="name"
                                   :class="{'is-invalid': errors.name}">
                            <div class="invalid-feedback" v-if="errors.name">{{ errors.name }}</div>
                        </div>
                        <div class="form-group">
                            <label for="editor">Code <a data-toggle="collapse" href="#help" title="Help" role="button">?</a></label>
                            <div id="help" class="collapse">
                                <div class="card card-body mb-3">
                                    <h5>Overview</h5>
                                    <p class="mb-0">This demo uses a simple programming language inspired by 32bit linux x86 assembly.<br>
                                        The user-available registers are <code>eax</code> through <code>edx</code> and number literals are supported for immediate values.<br>
                                        Single-line comments are prefixed by <code>;</code></p>
                                    <hr>
                                    <h5>Labels</h5>
                                    <p class="mb-0">A label is an <var>identifier</var> followed by <code>:</code><br>
                                        An <var>identifier</var> consists of alphanumerics and underscores.<br>
                                        Example: <code>begin:</code></p>
                                    <hr>
                                    <h5>Flags</h5>
                                    <p class="mb-0">Carry flag (CF) – set if the last operation caused a carry/borrow.<br>
                                        Zero flag (ZF) – set if the last operation resulted in 0.<br>
                                        Sign flag (SF) – set if the last operation resulted in a negative value.<br>
                                        Overflow flag (OF) – set if the last operation caused a signed overflow.</p>
                                    <hr>
                                    <h5>Instructions</h5>
                                    <p>The following instructions are available:<br>
                                        <code>mov</code>, <code>cmp</code>, <code>add</code>, <code>sub</code>,
                                        <code>inc</code>, <code>dec</code>, <code>test</code>, <code>and</code>,
                                        <code>or</code>, <code>xor</code>, <code>sal</code>/<code>shl</code>,
                                        <code>sar</code>, <code>shr</code>, <code>not</code>, <code>neg</code> and
                                        <code>int</code> (for making system calls)</p>
                                    <p class="mb-0">And these jump instructions:<br>
                                        <code>jmp</code>, <code>jz</code>/<code>je</code>, <code>jnz</code>/<code>jne</code>,
                                        <code>jg</code>, <code>jge</code>, <code>ja</code>, <code>jae</code>,
                                        <code>jl</code>, <code>jle</code>, <code>jb</code>, <code>jbe</code>,
                                        <code>jo</code>, <code>jno</code>, <code>js</code>, <code>jns</code>,
                                        <code>loop</code>, <code>loopz</code>/<code>loope</code>,
                                        <code>loopnz</code>/<code>loopne</code>
                                    </p>
                                    <hr>
                                    <h5>System calls</h5>
                                    <p>Invoke system calls by setting <code>eax</code> to the corresponding value and calling <code>int&nbsp;80h</code>.<br>
                                        Arguments are passed through register <code>ebx</code>.<br>
                                        Return values are stored in <code>eax</code>.</p>
                                    <table class="table table-sm table-bordered table-responsive mb-0">
                                        <thead>
                                        <tr>
                                            <th>System call</th>
                                            <th>eax</th>
                                            <th>Return value</th>
                                            <th>ebx</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>sys_exit</td>
                                            <td>0x01</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>sys_fork</td>
                                            <td>0x02</td>
                                            <td>child pid for the parent process and 0 for the child</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>sys_waitpid</td>
                                            <td>0x07</td>
                                            <td>0 on success or -1 on error</td>
                                            <td>child pid or -1 for all children</td>
                                        </tr>
                                        <tr>
                                            <td>sys_kill</td>
                                            <td>0x25</td>
                                            <td>0 on success or -1 on error</td>
                                            <td>pid or -1 for all processes except self</td>
                                        </tr>
                                        <tr>
                                            <td>sys_sched_yield</td>
                                            <td>0x9e</td>
                                            <td>0</td>
                                            <td>-</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="editor-wrapper" class="form-control p-0" :class="{'is-invalid': errors.code}">
                                <div id="editor"></div>
                            </div>
                            <div class="mt-1">
                                <p class="mb-0 small text-danger" v-for="error in errors.code">
                                    Error on line {{ parseInt(error.lineNumber) + 1 }}: {{ error.msg }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" @click="save()">Compile and save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>
</html>
